.howitworks {
    text-align: left;
    width: 40%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
/*Make the webpage take up the entire width of the screen, if the page is being viewed on a mobile device*/
@media only screen and (max-width: 1100px) {
    .howitworks {
        width: 90%;
    }
}
