input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.landingpage {
    width: 45%;
    margin: 0 auto;
    padding-top: 60px;
}

.landingpage li {
    color: white;
    text-align: left;
}
