html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    margin: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

:root {
    --main-color: #5865F2;
    --secondary-color: #98aae7;
    --secondary-color-r: 114;
    --secondary-color-g: 137;
    --secondary-color-b: 218;
    --background-color: rgb(40, 42, 46);
    --secondary-background-color: rgb(45, 47, 51);
    --accent-background-color: rgb(37, 38, 41);
    --third-background-color: rgb(32, 34, 37);
    --box-background-color: rgb(53, 53, 58);
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik/static/Rubik-Regular.ttf");
}

body {
    background-color: var(--background-color);
    font-family: "Rubik", sans-serif;
}

.topnav {
    background-color: var(--secondary-background-color);
    overflow: hidden;
}

.topnav {
    text-align: center;
    padding: 14px 16px;
}

.topnav a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

/* Place the navbar at the bottom of the page, and make it stick */
.bottomnav {
    background-color: var(--third-background-color);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottomnav {
    text-align: left;
    padding: 0 16px;
}

.bottomnav p {
    margin: 10px
}

.bottomnav a:hover {
    color: var(--secondary-color);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

h1 {
    color: white;
}


p {
    color: white;
}

em {
    color: var(--secondary-color);
    font-style: unset;
    font-weight: bold;
}

blockquote {
    margin: 0;
}

blockquote {
    padding: 5px 10px 5px 15px;
    background: var(--box-background-color);
    border-radius: 5px;
    border-left: 3px solid var(--secondary-color);
}

ul {
    color: white;
    text-align: left;
}

button {
    font-family: inherit;
}

.hidden,
[hidden] {
    display: none !important;
}
